<li class='labeledInputField'>
  <label class='title' for={{id}}>{{label}}</span></label>
  <input id={{id}} type={{type}} name={{name}} placeholder='{{placeholder}}' value='{{value}}' class='value' />
  {{#if error}}
  <p class='error'>{{error}}</p>
  {{/if}}
</li>
